@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap');


body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF734D;
    /* border-radius: 5px; */
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff450c;
}

@layer components {
    .pofileCard-banner-first {
        @apply before: block before:absolute before:border before:border-dashed before:rounded-full before:w-32 before:h-32 before:right-0
    }
}